<h1>投稿編集</h1>

<%= form_with model: @post do |f|  %>

<h4>ホテル名</h4>
<%= f.text_field :hotel_name, autofocus: true, placeholder: "ホテル名", class:"form-control" %>

<h4>本文</h4>
<%= f.text_area :text, autofocus: true,　placeholder: "本文", class: "form-control" %>

<h4>画像</h4>
<%= f.attachment_field :post_images_images, multiple: true %>

<h4>タグ</h4>
<%= f.text_field :name,value: @tag_list,class:"form-control"%>

<%= f.submit "編集する", class:"col-md-3 btn btn-success" %>
<%= link_to "削除する", post_path(params[:id]), class:"col-md-3 btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } %>

<% end %>