<div class="p-3 mb-2 bg-light">
<div class="container">
  <h4>タグが<%=@tag.name%>の投稿一覧</h5>

  <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %>
  <% end %>

<% if user_signed_in? %>
<div class="row d-flex flex_wrap">
  <% @posts.each do |post| %>
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="post-image-text card-effect mx-auto text-center">
        <div class="post-image-box">
          <%= link_to post_path(post.id) do %>
            <% if post.post_images.first %>
              <%= attachment_image_tag post.post_images.first, :image, class:"img-thumbnail", size: "300x300" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "100x100" %>
            <% end %>
          <% end %>
        </div>
    <!--タイトル表示される文字数は２５文字までにしてます-->
        <h4 class="post_name my-2">
          <%=link_to post_path(post.id) do %>
            <%= post.hotel_name.truncate(25) %>
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<% if admin_signed_in? %>
<div class="row d-flex flex_wrap">
  <% @posts.each do |post| %>
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="post-image-text card-effect mx-auto text-center">
        <div class="post-image-box">
          <%= link_to post_path(post.id) do %>
            <% if post.post_images.first %>
              <%= attachment_image_tag post.post_images.first, :image, class:"img-thumbnail", size: "300x300" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "100x100" %>
            <% end %>
          <% end %>
        </div>
    <!--タイトル表示される文字数は２５文字までにしてます-->
        <h4 class="post_name my-2">
          <%=link_to admin_post_path(post.id) do %>
            <%= post.hotel_name.truncate(25) %>
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
<% end %>

  <div class="pagination pagination-sm justify-content-center">
    <%= paginate @posts %>
  </div>

<% if current_user = admin_signed_in? %>
  <%= link_to admin_posts_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
    <h3 span><i class="fas fa-book-open"></i> 投稿一覧に戻る(管理者はこちら)</h3>
  <% end %>
<% end %>

</div>
</div>