<div class="p-3 mb-2 bg-light">
<div class="container">
  <h4>タグが<%=@tag.name%>の投稿一覧</h5>

  <!--タグリスト-->
  <% @tag_list.each do |list|%>
    <%=link_to list.name,search_tag_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %>
  <% end %>

<% if user_signed_in? %>
  <% @posts.each do |post| %>
  <!--投稿はカードで囲む-->
    <div class="card">
      <div class="card-body">
    <!--タイトル表示される文字数は２５文字までにしてます-->
        <h4 class="card-title">
          <%=link_to post_path(post.id) do %>
            <%= post.hotel_name.truncate(25) %>
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>
<% end %>

<% if admin_signed_in? %>
  <% @posts.each do |post| %>
  <!--投稿はカードで囲む-->
    <div class="card">
      <div class="card-body">
    <!--タイトル表示される文字数は２５文字までにしてます-->
        <h4 class="card-title">
          <%=link_to admin_post_path(post.id) do %>
            <%= post.hotel_name.truncate(25) %>
          <% end %>
        </h4>
      </div>
    </div>
  <% end %>
<% end %>

  <div class="pagination pagination-sm justify-content-center">
    <%= paginate @posts %>
  </div>

<% if current_user = admin_signed_in? %>
  <%= link_to admin_posts_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
    <h3 span><i class="fas fa-book-open"></i> 投稿一覧に戻る(管理者はこちら)</h3>
  <% end %>
<% end %>

</div>
</div>