<div class='container'>
  <div class='row'>
    <div class="offset-md-1 col-md-3">
      <h2 class="py-4">投稿詳細</h2>
    </div>
  </div>

<label>投稿画像</label>
<% @post.post_images.each do |post_image| %>
  <%= attachment_image_tag post_image, :image, size: "130x130" %>
<% end %>

    <div class="row">
      <div class="col-lg-4">
        <label>ホテル名:</label>
      </div>
      <div class="col-lg-8">
        <p><%= @post.hotel_name %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label>本文:</label>
      </div>
      <div class="col-lg-8">
        <p><%= @post.text %></p>
      </div>
    </div>

    <div class="row">
      <div class="col offset-md-1">
        投稿ユーザー:<%= link_to @post.user.name,users_my_page_path, class:"h4" %>
      </div>
    </div>

    <div class="row">
        <label>タグ:</label>
        <% @post_tags.each do |tag| %>
  　　　　　　<%= link_to tag.name,search_tag_path(tag_id: tag.id)%><%="(#{tag.posts.count})" %>
        <% end %>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label>いいね件数:</label>
      </div>
      <div class="col-lg-8">
        <p><%= @post.likes.count %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <label>コメント件数:</label>
      </div>
      <div class="col-lg-8">
        <p><%= @post.comments.count %></p>
      </div>
    </div>

<% if current_user.already_liked?(@post) %>
  <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
<% else %>
  <%= button_to 'いいね', post_likes_path(@post) %>
<% end %>


<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<label>コメント</label>
<%= @post.body %>

<%= form_with(model:[@post, @comment], method: :post) do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit 'コメントする' %>
<% end %>

<% @comments.each do |comment| %>
<tr>
  <td><%= comment.user.name %></td>
  <td><%= comment.body %></td>
  <td>(<%= comment.created_at.strftime('%Y/%m/%d') %>)</td>
  <td>
    <% if comment.user == current_user %>
      <%=link_to "削除", comment_path(comment.id), method: :delete %>
    <% end %>
  </td>
</tr>
<% end %>

<% if @post.user == current_user %>
<%= link_to  edit_post_path(@post), class: "btn btn-block bgleft " do %>
<span><i class="fas fa-cog"></i> 編集する</span>
<% end %>
<% end %>

　<table class="table table-bordered">
    <tr>
      <%= link_to posts_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
        <span><i class="fas fa-eye"></i> 投稿一覧</span>
      <% end %>
    </tr>
  </table>