<div class="p-3 mb-2 bg-light">
  <div class="container">
    <div class="row my-3">
      <div class="col-lg-4 mt-3">
        <h2 class="font-weight-bold">投稿詳細</h2>
      </div>
    </div>

    <div class="row">
      <div class="post-image-box">
        <% @post.post_images.each do |post_image| %>
          <%= attachment_image_tag post_image, :image, size: "250x250" %>
        <% end %>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-12 mt-3">
          <h4 class>ホテル名:<%= @post.hotel_name %></h4>
          <h4 class>本文:<%= @post.text %></h4>
          <h4 class>投稿ユーザー:<%= link_to @post.user.name,user_path(@post.user.id), class:"h4" %></h4>
          <h4 class = "flex-wrap">タグ:
            <% @post_tags.each do |tag| %>
              <%= link_to tag.name,search_tag_path(tag_id: tag.id)%><%="(#{tag.posts.count})" %>
            <% end %></h4>
         
        </div>
      </div>

      <div class="form-group row">
        <div class="col-5 offset-2">
          <div id='post_like_js<%=@post.id %>'>
            <%= render "public/likes/like", post: @post %>
          </div>
        </div>
      </div>

      <h2 class="font-weight-bold">いいねしたユーザー</h2>
        <% @post.liked_users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>

      <span id ="comment_js">
        <%= render 'public/comments/comment', post: @post, comment: @comment, comments: @comments %>
      </span>


        <div class="row">
          <table class="table table-bordered">
    　　    　<tr>
              <%= link_to posts_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
                <h5 span><i class="fas fa-book-open"></i> 投稿一覧</h5>
              <% end %>
            </tr>

            <tr>
            <% if @post.user == current_user %>
              <%= link_to  edit_post_path(@post), class: "btn bgleft btn-sm pl-3 pr-3" do %>
                <h5 span><i class="fas fa-cog"></i> 編集する</h5>
              <% end %>
            <% end %>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>