<div class="p-3 mb-2 bg-light">
  <div class="col-md-10">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center mb-5">
          <h1 class="fonr-weight-bold">投稿一覧</h1>
          <h4 class="m-0 text-center pt-2">(全<%= @posts.count %>件)</h4>
        </div>
      </div>

      <%= render partial:"list", locals: {posts: @posts} %>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <%= paginate @posts %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center mb-5">
              <h3 class="fonr-weight-bold">タグ一覧</h3>
            </div>
          </div>
          <div class="row d-flex flex-wrap">
            <% @tag_list.each do |list|%>
              <h6 class><%=link_to list.name,search_tag_path(tag_id: list.id) %>
                <%="(#{list.posts.count})" %></h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>