<% @user.each do |user| %>
    <div class = "col-md-5">
      <table class="table table-bordered">
        <tr>
          <td class="font-weight-bold table-secondary">投稿数</td>
          <td><%= link_to "#{current_user.posts.count}件", hotels_user_path(user) %></td>
        </tr>
        <tr>
          <td class="font-weight-bold table-secondary">いいね数</td>
          <td><%= link_to "#{current_user.likes.count}件", likes_user_path(user) %></td>
        </tr>
        <tr>
          <td class="font-weight-bold table-secondary">コメント数</td>
          <td><%= link_to "#{current_user.comments.count}件", comments_user_path(user) %></td>
          <td><%= current_user.comments.count %>件</td>
        </tr>
        <tr>
          <td class="font-weight-bold table-secondary">フォロー</td>
          <td><%= link_to "#{user.followings.count}人", user_followings_path(user_id: user.id) %></td>
        </tr>
        <tr>
          <td class="font-weight-bold table-secondary">フォロワー</td>
          <td><%= link_to "#{user.followers.count}人", user_followers_path(user_id: user.id) %></td>
        </tr>
      </table>
    </div>
<% end %>