<h1>マイページ</h1>

　<div>
　  <h2>登録情報</h2>
　  <%= link_to "編集する", users_my_page_edit_path %>

　  <table>
　    <tr>
　      <td>ユーザー名</td>
　      <td><%= current_user.name %></td>
　    </tr>
　    <tr>
　      <td>メールアドレス</td>
　      <td><%= current_user.email %></td>
　    </tr>
　  </table>
　</div>

　<% if current_user.following?(@user) %>
  <%= link_to "フォロー外す", follows_path(user.id), method: :delete %>
  <% else %>
  <%= link_to "フォローする", follows_path(current_user.id), method: :post  %>
  <% end %>


　<div>
　  <h2>投稿一覧</h2>
　  <%= link_to "一覧を見る", posts_path %>
　</div>

　<div>
　  <h2>いいね一覧</h2>
　  <%= link_to "一覧を見る" %>
　</div>