<h1>マイページ</h1>

<%= render "public/users/user_details" %>

　<div>
　  <h2>登録情報</h2>
　  <%= link_to "編集する", users_my_page_edit_path %>

　  <table>
　    <tr>
　      <td>ユーザー名</td>
　      <td><%= current_user.name %></td>
　    </tr>
　    <tr>
　      <td>メールアドレス</td>
　      <td><%= current_user.email %></td>
　    </tr>
　  </table>
　</div>

　<div>
　  <h2>新規投稿</h2>
　  <%= link_to "投稿する", new_post_path %>
　</div>

　<div>
　  <h2>投稿一覧</h2>
　  <%= link_to "一覧を見る", posts_path %>
　</div>